@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



// Timer.js
.pomodoro{
    background-color: #FF87CA;
    border-radius: 15px;
    .timer-comp{
        h2{
            font-family: 'Bebas Neue', cursive;
        }
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }
    .button{
        display:flex;
        justify-content: center;
        

        .plus{
            background-color: #F6C6EA;
            margin: 5px;
            font-size: 20px;
            font-family: 'Bebas Neue', cursive;
            border: 3px solid #FF00E4;
            border-radius: 50px;
        }        
        .minus{
            background-color: #F6C6EA;
            margin: 5px;
            font-size: 20px;
            font-family: 'Bebas Neue', cursive;
            border: 3px solid #FF00E4;
            border-radius: 50px;
        }
    }
    .start__stop__buttons{
        display: flex;
        justify-content: center;
        margin: 15px;
        button{
             border-radius: 12px;
             border: none;
             padding: 10px;
             background-color: #D62AD0;
        }
       
    }
}


// BreakTimer.js

.break-time{
    text-align: center;
    .break-message{
        font-weight: bold;
        font-size: 20px;

       h2{
    font-family: 'Bebas Neue', cursive;
    } 
}
   .button{
       display: flex;
       justify-content: center;
       .minus{
        background-color: #F6C6EA;
        margin: 5px;
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
        border: 3px solid #FF00E4;
        border-radius: 50px; 
       }
       
       }
       .start__stop__buttons{
        display: flex;
        justify-content: center;
        margin: 15px;
        button{
             border-radius: 12px;
             border: none;
             padding: 10px;
             margin: 5px;
             background-color: #D62AD0;
        }
   } 
    
}